<div class="project-container">
  <div class="monitor">
    <div class="monitor-screen">
      <iframe width="100%" height="415" src="https://www.youtube.com/embed/D5FdrOx2aZk" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="project-description">
    <h3>
      Mentr App
    </h3>
    <p>The Mentr App is a web application that helps match potential mentors with mentee's based on common interests and
      technical skills. I developed
      this project, along with three others, during my six-month experience in the Capital One Developer Academy. We
      made the UI of the application
      resemble <a href="https://tinder.com/">Tinder</a>, <a href="https://bumble.com/">Bumble</a>, and similar dating
      apps because we believe the
      "swipe left/right" design is most user-friendly and has become familiar to a lot of young professionals.
    </p>
    <div class="description-lists">
      <h5>Technologies Used</h5>
      <ul>
        <li>MongoDB</li>
        <li>Angular</li>
        <li>Express</li>
        <li>Node.js</li>
        <li>Sockets.io</li>
        <li>Bcrypt.js</li>
      </ul>
      <h5>Features</h5>
      <ul>
        <li>Instant messaging</li>
        <li>User Authentication</li>
        <li>Gestures</li> 
      </ul>
    </div>
    <button class="learn-more-button">
      <span class="noselect">Github Repo</span>
      <div class="circle"></div>
    </button>
  </div>
</div>


<div class="project-container">
  <div class="monitor">
    <div class="monitor-screen">
      <iframe width="100%" height="415" src="https://www.youtube.com/embed/8dAqV6pNaaU" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="project-description">
    <h3>
      Project 1
    </h3>
    <p>short description of this project</p>
    <button class="learn-more-button">
      <span class="noselect">Github Repo</span>
      <div class="circle"></div>
    </button>
  </div>
</div>

<div class="project-container">
  <div class="monitor">
    <div class="monitor-screen">
      <iframe width="100%" height="415" src="https://www.youtube.com/embed/PmQsZNery80" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="project-description">
    <h3>
      Project 1
    </h3>
    <p>short description of this project</p>
    <button class="learn-more-button">
      <span class="noselect">Github Repo</span>
      <div class="circle"></div>
    </button>
  </div>
</div>