<!-- The video -->
<section>
    <video autoplay muted loop id="backgroundVideo">
        <source src="../../assets/home-page/background.mp4" type="video/mp4">
    </video>
</section>

<div class="heading">
    <h1>Hello, I'm <span>Menelik Gebre</span>.
         <br>
        I'm a full-stack web developer.
    </h1>
    <!-- Use a button to pause/play the video with JavaScript -->
    <!-- <button id="myBtn" onclick="myFunction()">Pause</button> -->
    <button id="view-work-btn" routerLink="projects">View my work</button>
</div>